@media (min-width: 320px) and  (max-width:468px) { 
    html{
        overflow-x:hidden;
    }
    .grid-line {animation-name:''!important;   
          opacity: 1;
        height: 100%;}

        .menu-top ol li::before{

            display:none!important;
        }
        header img{

            left: calc(100vw /4 - 72px);
        }
        .menu-top a{
            font-size: 24pt;
            z-index: 9999;
        }


        .toggle-menu{

            left: calc(100vw/4 * 3 + 7%);
            top:8vh!important;
        }
    // Sliders
        .is-desktop,.grid-line-3,.grid-line-4,.grid-line-5,.number,.numbers li:nth-child(3),.numbers li:nth-child(4),.numbers li:nth-child(5){ display: none!important;}
        .grid-line-1 {
            left: calc(100vw/4)!important;
        }

        .grid-line-2 {
            left: calc(100vw/4 *3)!important;
        }
       

        body{
            overflow-x: hidden;
        }
    
        header img{
            width: 138px;
            position: absolute;
            bottom: 66px;
    
        }
        .home__first{
    
            .slider-title h1{
                line-height: 3rem;
                font-size: 2rem;
                max-width: calc(70vw);
                /* word-break: break-word; */
                top: 27vh;
                width: 80vw;
                word-break: break-word;
                left: calc(10vw);
            }
            .sliders .number {
    
                font-size: 8rem;
                margin-left: -70px;
    
            }
    

            .slider-desc{

                top: 62vh;
                left: calc(100vw/4 );

            }
            button.slick-arrow.slick-next,  button.slick-arrow.slick-prev{

                top:inherit;
                bottom:100px;
            }
            button.slick-arrow.slick-next{
                left: calc(100vw/4 * 3 + 26px);

            }
            button.slick-arrow.slick-prev{
            left: calc(100vw/4 * 3 - 47px);
            }
        }

        .sliders .numbers li:nth-child(2) ,  .home__second .numbers li:nth-child(2){
            left: calc(100vw/4 * 3);
        }
        .sliders .numbers li:first-child, .home__second .numbers li:first-child {
            left: calc(100vw/4);
        }
        .home__second .numbers li {
            color: #a3c5f2;
            font-weight: 600;
            position: absolute;
            margin-left: -11px;
            letter-spacing: .2rem;
            bottom:10px;
        }
    
    // Quem Somos
    
        .home__second {
            height: 715px;
            .number{
    
    
                font-size: 6rem;
                margin-left: -62px;
            }
    
           .qs-timeline-release {
            max-width:calc(100vw/6 - 22px);
    
            }
    
            h1{
    
                width: 370px;
                position: relative;
                left: calc(100vw/6 *2);
                line-height: 59px;
                z-index: 999;
                margin-bottom: 47px;
                font-size: 4rem;
                letter-spacing: .7rem;
                padding-top: 0px;
                margin-top: -47px;
    
            }
            .qs-sum {
                font-size: 1.2rem;
            }
    
            .quemsomos-gallery {
                margin-top: -320px;
                 transform: scale(0.7);
                 margin-left: -76px;
            }
    
            .qs-title h2 {
                font-size: 2rem;
            }
    
            .office {
    
                right: -24px;
                top: 75px;
            }
        }
    
    // Success Stories 
    
      
    .cases{

        button.gallery-button {
            position: absolute;
            cursor: pointer;
            -webkit-transform: rotate(-90deg);
            transform: rotate(0deg);
            color: #7cc4ff;
            background: transparent;
            border: 0px;
            outline: none;
            font-size: 1.1rem;
            text-transform: uppercase;
            top: -94px;
            left: 50%;
            z-index: 9999999;
        }


        height: 900px;
        .cases-info-subtitle {

            left: 0px;
            margin-top: -39px;
            font-size: 1.8rem;

        }
        .legenda-foto {
            font-size:2rem;
            bottom:60px;
        }
        
        .numbers {
            width: calc(100vw/6 *2);
            bottom:0px;
            left:0px;
        }
      .number{
            top:inherit;
            bottom:5%;
            font-size:8rem;
            left: calc(100vw/6 * 5 - 72px);
        }

        .case-destaque .slick-dots {
            right: 99px;
            margin-top: -150px;
            -webkit-transform: scale(0.75);
            transform: scale(0.5);
        }

     
        .cases-info h1 {
            line-height: 56px;
            font-size: 40pt;
            margin-left: -40px;
            margin-top: 36px;
        }
        .gallery-case img {

            min-height:310px;


        }

        .cases .numbers li:nth-child(2) {
            left: calc(100vw/3 *2);
            position: absolute;
            margin-left: 17px;
        }
        .casesIn-desc button.slick-arrow.slick-prev {
         
    left: -64px;
    bottom: 290px;
            

        }
        .casesIn-desc button.slick-arrow.slick-next{
            bottom: 203px;
            margin-left: -62px;

    }
    .casesIn-project h1 {
        font-size: 18pt;
        padding: 0px 20px;
        margin-left: -44px;
    }


    .cases-info {
        margin-top: 354px;
        position: absolute;
        left: calc(100vw/4);
    }
    .cases-info-desc {
        font-size: 1.2rem;
        display: block;
        width: calc(100vw/2);
        left: 0px!important;
        position: relative;
        color: #7fb2f1;
        text-transform: uppercase;
        margin-top: 21px;
        margin-bottom: 23px;
    }

    .case-destaque .slick-slider .cliente-destaque-img {
        width: 123vw!important;
        margin-left: 0px;
    }
    .cases-cliente-img img {
        position: absolute;
        bottom: 66px;
        width: 187px;
    }

    .cliente-destaque-img {
        width: 124vw !important;
        margin-left: 0px;
    }

    .cases-info .button-cases-desc {
        left: 0px;
        width: calc(100vw/4 * 3 - 100vw/4 - 19px);
        font-size: 0.9rem;
        padding: 10px;
    }
        .case-destaque {
            width: calc(100vw/6 * 3);
            left: 9%;
        }

        .case-destaque .slick-slider {
            width: 230%;
        }

        .case-destaque .slick-list {
            transform: scale(0.65);
            margin-left: -173px;
            margin-top: -70px;
        }
        .cases-cliente-img {
            position: absolute;
            right: inherit;
            -webkit-transform: rotate(-90deg);
            transform: scale(1);
            top: 486px;
            left: 0vw;
            bottom: 0px;
        }
        .casesIn-in{

            width:100vw;
        }
        .casesIn-logo{


            transform: scale(0.5);
            margin-left: -95px;

        }

        .cases .numbers li:nth-child(1) {
            position: absolute;
            left: calc(100vw/4);
            margin-left: -17px;
        }
    }
    
    
    // Ecossistema
    
        .home__third{

          
            .grid-line-4-above, .grid-line-2-above {
                    top: inherit;
                    bottom: 0px;
                }
                .grid-line-1, .grid-line-5 {

                    height:152vh
        
        
                }

            .goUp,.goDown{

                right: 24px;
                

            }
            .goDown{

                bottom: 386px;
            }
            .goUp {


                bottom: 288px;

            }

            h1{
                font-size:45pt
            }
            .ecos .outside {
                width: 768px;
                height: 767px;
                position: relative;
                left: 50%;
                margin-left: -380px;
                top: 383px;
            }
            .ecos .inside .label-in{
                top: 338px;
                left: 50%;
                margin-left: -94px;
            }

           .ecoIn-desc {
                height:732px;
                transform: scale(0.8);
                margin-left: -49px;
                margin-top: -40px;
            }
            .number{
    
    
                font-size: 8rem;
    
            }

            .btnEcoNext {
                top: 390px;
                z-index: 999;
                left: 50%;
                margin-left: 7px;
            }

            .btnEcoPrev {
                top: 390px;
                z-index: 999;
                left: 50%;
                margin-left: -48px;
            }

            .ecos-content p {
                font-size: 1rem;
            }

            .ecoIn-project {
                padding-left: 10px;
                width: 83%;
                font-size: 1rem;
                position: absolute;
                margin-left: 58px;

                h1{

                    font-size: 15pt !important;
                    line-height: 36px !important;
                    word-break: break-word;
                    width: auto !important;
                    left: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 9px;
                    padding-left: 15px;
                }
            }
           .grid-line-2,   .grid-line-1 {


            height: 53%;
           }


           .grid-line-4-above,.grid-line-2-above,.grid-line-5 {


            display:none!important;

           }
            .ecoIn-project h1 {
                font-size: 15pt !important;
                line-height: 36px !important;
                word-break: break-word;
                width: 199px !important;
                left: 0px;
            }

            .ecoIn-in {


                width:100vw;

            }
            .econIn-logo {
                transform: scale(0.6);
                margin-left: -16px;
                width: 60px;
            }
            h1 {
                font-size: 35pt;
                line-height: 33pt!important;
            }
         
        }
    
    // Kana News
    
        .kana-news{
             .number {
                font-size: 8rem;
                margin-left: -76px;
    
             }
             .numbers li {
    
                font-size: 2rem;
                top:41vh;
    
             }
    
            .kana-news-ul img {
                transform: scale(0.8);
                margin-left: -17px;
            }
            h1 {
                display: block;
                width: 270px !important;
                word-wrap: break-word;
                margin-left: calc(100vw/6 *3 - 112px);
                padding-top: 88px;
                margin-top: 0px;
                line-height: 75px;
                font-size: 5rem;
              span {
                    position: absolute;
                    font-size: 2rem;
                    margin-top: 6px;
                    margin-left: 2px;
                    letter-spacing: 4px;
                    font-weight: 400;
                }
            }
    
        }
    
        // Clientes

        .clientes .numbers li {
            width: calc(100vw/4);
            margin-top: 62px;
        }
        .clientes button.slick-arrow.slick-prev{
            bottom: -99px;
        
    background-size: 100% 100%;
        }
        .clientes button.slick-arrow.slick-next ,  .clientes button.slick-arrow.slick-prev{
            right: -14px;
            transform: scale(0.8);
        }
        .clientes button.slick-arrow.slick-next {
            display: block !important;
           
    background-size: 100% 100%;
    bottom: -33px;
                        width: 91px;
            height: 83px;
            position: absolute;
            /* margin-top: -127px; */
            border: 0px;
            background: url(/static/images/btn-prev.png);
            font-size: 0px;
            cursor: pointer;
            outline: none;
            background-size: 100% 100%;
            background-position: center;
        }

        .clientes .numbers li:nth-child(2) {
            margin-left: 2px;
            position: relative;
            left: calc(100vw/4);
          
        }


        .clientes-logos .slick-slide > div {
            height: 99px;
        }
    
        .clientes {
    
            h1{
                position: relative;
                margin-top: 36px;
                letter-spacing: .5rem;
                font-size: 4rem;
                width: 100%;
                left: inherit;
                text-align: center;
            }
            .number{
    
                font-size: 8rem;
                margin-left: -95px;
    
            }
    
    
            .clientes-logos .slick-slide img {
                margin: 0 auto;
                transform: scale(0.8);
            }
    
        }
    
    


        .home__third {
            height: 835px;
            z-index: 99999;
            .outside {
                top: 387px;
                transform: scale(0.75);
            }
            
            .ecos {
            z-index: 9999;
            position: relative;
            height: 100%;
            overflow: hidden;
        }
        .what-we-do{

            display:none;
        }
        h1 {
            width:100vw;
            left: 48px;
        }
        .ecos-content{

            top:257px;

        }

    }
















    // Fale Conosco
    
        .home__contact{
            height: auto!important;
            >div {display:block}
            .office {
                position: relative;
                width: 100%;
                display: block;
            }
            .fale-conosco {
                width: 100%;
            }
            .contact-form {
                
                width: 100%;
                padding-top: 0px;
                position: relative;
                min-height: 400px;
                padding-bottom: 205px;
                form {
                position: relative;
                left: inherit;
                width: 100%;
                        h1 {
                            font-size: 40pt;
                            z-index: 9999999999999999;
                            position: relative;
                            left: 10%;
                            margin-top: -6px;
                            width: 300px;
                        }


                     p {
                            font-size: 1.1rem;
                            display: block;
                            width:  calc(100vw/3 + 40px);
                            margin: 0 auto;
                            position: relative;

                    }

                    input,textarea{
                        outline: none;    
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        border: 1px solid #d0d0d0;
                        padding: 10px 15px;
                        width: 74vw;
                        background: #fff;
                        z-index: 999;
                        left: 10vw;
                        position: relative;
                        margin-top: 20px;
                        font-size: .9rem !important;
                     }
                     button[type=submit] {
                        position: absolute;
                        right: 8%;
                        width: 181px;
                        bottom: -58px;
                        z-index: 9999;
                    }

                  }
             }
       

        .office{
            background:#f6f4f4;
            min-height: 830px;
           .map-in-box {
                width: 314px;
                height: 280px;
                position: relative;
                top: -271px;
                left: -150px;
                transform: scale(0.95);
            }
            .google-map{
                display: block;
                width: 100%;
                padding-top: 44px;

                .map {
                    position: relative;
                    margin-bottom: 45px;
                }
                    .map-buttons {
                        left: 12%;
                        margin-top: inherit;
                        position: absolute;
                        bottom: 0px;
                        top: inherit;
                            > div {

                                display:none
                            }
                            .map-next{
                                top: inherit;
                                margin-top: inherit;
                                left: 0px;
                                bottom: inherit;
                                width: 82px;
                                height: 82px;
                                background-size: 100% 100%;
                            }
                     }



                .escritorio-title {
                    left: -181px;
                    top: inherit;
                    bottom: 285px;
                    font-size: 1rem;
                }

                .map > div:first-child {
                    height: 100vh;
                    position: relative;
                }

                .map-in {
                    top: 0px;
                    width: 80vw;
                    height: 100%;
                    left: 12%;
                    padding-left: 0px;
                }
            }
        }
         }



         footer{

            background: #d0d0cf;
            height: 53px;
            font-size:0px;
         }
    
         .escritorio-title.escritorio-0 ,  .map-active .escritorio-1{
            display: none!important;
        }
    
        .map-active .escritorio-0 {
            display: block!important;
        }
    
        .home__second .slick-dots {
            width: 68px;
            position: absolute;
            right: -70px;
            margin-top: -87px;
            transform: scale(0.5);
        }
        .home__second .office {
            right: -36px!important;
            top: 45px!important;
            font-size: 13px!important;
        }
    
        .home__second .office::before {
            background: #7cc4ff;
            content: '';
            display: block;
            width: 32px;
            height: 1px;
            position: relative;
            left: -40px;
            top: 7px;
        }
    
        .home__second h1 {
            width: 370px;
            position: relative;
            left: calc(100vw/4);
            line-height: 59px;
            z-index: 999;
            margin-bottom: 47px;
            font-size: 4rem;
            letter-spacing: .4rem;
            padding-top: 0px;
            margin-top: -47px;
            top: 283px;
        }
    
        .home__second .qs-title {
            position: absolute;
            left: calc(100vw/4);
            margin-top: -20px;
            z-index: 9999;
    
    
            h2 {
                font-size: 1.8rem;
                letter-spacing: 0.2rem;
                margin-top: 34px;
            }
        }
    
        .home__second .qs-sum {
            position: absolute;
            left: calc(100vw/4);
            margin-top: 42px;
            color: #7fb2f1;
            width: calc(100vw/3 + 118px);
            text-transform: uppercase;
            font-size: 1.2rem !important;
            z-index: 9999;
        }
        .home__second .qs-desc {
            width: calc(100vw/3 + 134px);
            position: absolute;
            left: calc(100vw/4);
            margin-top: 124px;
            z-index: 9999;
            p {
                font-size: 1.1rem;
            }
        }






        .ecoIn-in, .cases .casesIn-in{
            background: rgba(224, 224, 224, 0.99);

        }

        .cases .numbers li:nth-child(2) {
            left: calc(100vw/4 * 3 - 17px);
            position: absolute;
        }
        
        .cases .numbers li:nth-child(1) {
            position: absolute;
            left: calc(100vw/4 - 17px);
        }


     button.cases-see-more{

        margin-left: 0px;
        right: 0px;
     }


     .cases button.slick-arrow.slick-next{

        display:none!important;
     }

     .case-destaque-mobile-container {
        width: 74%;
        height: 450px;
        background-size: cover;
        position: relative;
        margin-left: -22px;
    }

    button.bt-mobile-slider-cases.is-mobile {
        width: 91px;
        height: 87px;
        position: absolute;
        border: 0px;
        background: url(/static/images/btn-next.png);
        font-size: 0px;
        cursor: pointer;
        outline: none;
        top: inherit;
        background-position: center;
        bottom: 31px;
        left: 188px;
    }
    .language-choice,.social-links{

    left:3vw
    }

     }
   